@import "theme.less";

&{
    background-color: @background-color;
    min-height: 75vh;
    padding: 16px;
    font-family: 'Open Sans', sans-serif;

    h1 {
        color: @text-color;
        
        font-family: 'Share Tech Mono', monospace;
        font-weight: 400;
        font-size: 2.4em;

        margin-top: 1em;
        margin-bottom: 0;
    }

    .indented::before {
        content: ' ';
        display: inline-block;
        width: 2em;
    }

    .highlight {
        background-color: @secondary-color-light;
    }
    
    table {
        border-collapse: collapse;

        td {
            padding: 8px;
        }

        &.borders td {
            border: 1px solid @text-color;
        }
    }
}