@import "theme.less";
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Share+Tech+Mono");

body {
    overflow-x: hidden;
    margin: 0;
}

.main .title {
    // position: absolute;
    // overflow-x: hidden;
    // overflow-y: hidden;
    // top: 0;
    // left: 0;
    // width: 100%;
    height: 130vh;

    background-color: @background-color;
    background-image: linear-gradient(@primary-color-light, @background-color);

    .hexagonsLayer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 130%;

        z-index: 1;

        transform: translateY(calc(var(--scrolled, 0) * -1px));
        will-change: transform;
    }

    .hexagon {
        position: absolute;
        top: 0;
        left: 0;
        width: 15vw;
        min-width: 20vh;

        transform: 
            rotate(calc(
                (var(--angle, 0) - 0.5) * 35deg
                ))
            translate(
                calc((var(--x-pos, 0) + var(--x-translate, 0)) * (100vw) - 50%), 
                calc((var(--y-pos, 0) + var(--y-translate, 0)) * (110vh) - 50%)
            )
            scale(calc(
                0.05 + var(--size, 1) * 0.95
                ));
        
        transition: transform 0.05s cubic-bezier(0.22, 0.61, 0.36, 1);
    }

    .logo {
        display: block;
        position: absolute;

        padding: 16px;
        box-sizing: border-box;

        width: 100%;
        max-width: 523.14697px;

        transform: translate(calc(50vw - 50%), calc(50vh - 50%));

        z-index: 0;

        @media screen and (orientation: portrait) {
            z-index: 2;
        }
    }
}

.main .body {
    @import "body.less";
}
