@primary-color: #00ff98;
@primary-color-light: #c2ffe3;
@primary-color-dark: #02ad66;

@secondary-color: #ff6600;
@secondary-color-light: #ffdcc2;
@secondary-color-dark: #ad4602;

@tertiary-color: #ff0033;
@tertiary-color-light: #ffc2ca;
@tertiary-color-dark: #ad0224;

@background-color: #ffffff;
@text-color: #000000;